singularity.enabled = true
executor.queueSize = 250
singularity.runOptions =  "--no-home --writable-tmpfs   -B /scratch/rijulsareen -B ${params.WORKFLOW_SCRIPTS_DIR} -B ${params.OUT} --cleanenv"
process.scratch = "/scratch/rijulsareen/nextflow_temp" // replace with your own scratch directory path
singularity.libraryDir = '/gpfs/data/dfi-cores/rijul/TumorSpace/containers'

process {
  scratch = true
  stageInMode = 'symlink'
  stageOutMode ='move'
  maxForks = 150 
  executor = 'slurm'
  cache = 'lenient'
  errorStrategy = { task.attempt <= 20 ? 'retry' : 'terminate' }
  maxRetries = 20
  clusterOptions = '--exclude=cri22cn223,cri22cn115,cri22cn013'
}

report {
    enabled = false
    overwrite = false
}